#card{
  display:flex;
  justify-content:start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25px;
}

.card{
  margin:10px;
}

#sort{
  margin: 5px;
  background-color: red;
  border: 1px solid blue;
  color:blue;
}

.form-inline{
  margin: 15px;
}